<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">
  <li class="nav-heading">관리자 기능</li>

  <li class="nav-item">
      <a class="nav-link <%= (select !== 'main') ? 'collapsed' : '' %>" href="/admin">
      <i class="bi bi-grid"></i>
      <span>대시보드</span>
      </a>
  </li>

  <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-shield-lock"></i><span>로그인 관리</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse <%= (select !== 'auth') ? '' : 'show' %>" data-bs-parent="#sidebar-nav">
      <li>
          <a href="/admin/auth/account-list" <%= (select_child !== 'auth/account-list') ? '' : 'class=active' %> >
          <i class="bi bi-circle"></i><span>계정 목록</span>
          </a>
      </li>
      <li>
          <a href="/admin/auth/account-role" <%= (select_child !== 'auth/account-role') ? '' : 'class=active' %> >
          <i class="bi bi-circle"></i><span>계정 권한 관리</span>
          </a>
      </li>
      </ul>
  </li>

  <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#attendance-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-person-check"></i><span>출석 관리</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="attendance-nav" class="nav-content collapse <%= (select !== 'attendance') ? '' : 'show' %> " data-bs-parent="#sidebar-nav">
      <li>
          <a href="/admin/attendance/update" <%= (select_child !== 'attendance/update') ? '' : 'class=active' %> >
          <i class="bi bi-circle"></i><span>출석정보 수정</span>
          </a>
      </li>
      <li>
          <a href="/admin/attendance/delete" <%= (select_child !== 'attendance/delete') ? '' : 'class=active' %> >
          <i class="bi bi-circle"></i><span>출석정보 삭제</span>
          </a>
      </li>
      </ul>
  </li>

  <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-people"></i><span>부원 관리</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse <%= (select !== 'people') ? '' : 'show' %> " data-bs-parent="#sidebar-nav">
      <li>
          <a href="/admin/people/register" <%= (select_child !== 'people/register') ? '' : 'class=active' %> >
          <i class="bi bi-circle"></i><span>부원 등록</span>
          </a>
      </li>
      <li>
        <a href="/admin/people/update" <%= (select_child !== 'people/update') ? '' : 'class=active' %> >
        <i class="bi bi-circle"></i><span>부원정보 수정</span>
        </a>
      </li>
      <li>
          <a href="/admin/people/delete" <%=(select_child !== 'people/delete') ? '' : 'class=active' %> >
          <i class="bi bi-circle"></i><span>부원정보 삭제</span>
          </a>
      </li>
      </ul>
  </li>

  <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
      <i class="bi bi-bar-chart"></i><span>시합후기 관리</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse <%= (select !== 'game-review') ? '' : 'show' %> " data-bs-parent="#sidebar-nav">
      <li>
          <a href="/admin/game-review/set-date" <%= (select_child !== 'game-review/set-date') ? '' : 'class=active' %> >
          <i class="bi bi-circle"></i><span>마감날짜 설정</span>
          </a>
      </li>
      <li>
          <a href="/admin/game-review/list" <%= (select_child !== 'game-review/list') ? '' : 'class=active' %> >
          <i class="bi bi-circle"></i><span>시합후기 작성현황</span>
          </a>
      </li>
      </ul>
  </li>

  <li class="nav-heading mt-4">일반 기능 바로가기</li>

  <li class="nav-item">
      <a class="nav-link collapsed" href="/people">
      <i class="bi bi-people"></i>
      <span>인원 관리</span>
      </a>
  </li>

  <li class="nav-item">
      <a class="nav-link collapsed" href="/attendance">
      <i class="bi bi-list-check"></i>
      <span>출석 관리</span>
      </a>
  </li>

  <li class="nav-item">
      <a class="nav-link collapsed" href="/game">
      <i class="bi bi-pin-angle"></i>
      <span>시합 관리</span>
      </a>
  </li>

  <li class="nav-item">
      <a class="nav-link collapsed" href="https://docs.royals-staff.team">
      <i class="bi bi-book-half"></i>
      <span>가이드북</span>
      </a>
  </li>

  <li class="nav-heading mt-4">기타</li>

  <li class="nav-item">
      <a class="nav-link collapsed" href="/">
      <i class="bi bi-box-arrow-in-left"></i>
      <span>메인화면 가기</span>
      </a>
  </li>

  </ul>

</aside>