<!DOCTYPE html>
<html>
  <head>
    <%- include('../../common/normal-html-head') %>
  </head>
  <body>
    <%- include('../../components/inner-page-header') %>

    <main id="main">
      <%- include('../../components/breadcrumbs', { pageTitle: "시합결과 조회", parents: [{ title: 'Home', url: '/' }, { title: '시합 관리', url: '/game' }] }) %>

      <section class="game-result">
        <div class="container mt-5" data-aos="fade-up">
          <div class="row justify-content-center">
            <div class="col-xl-3 col-sm-4 text-start">
              <p>Home</p>
              <h2 style="color: red; margin-bottom: 0px"><%=gameResult.homeTeamName%></h2>
              <h1 style="color: red"><span data-purecounter-start="999" data-purecounter-end="<%=gameResult.homeTeamScore%>" data-purecounter-duration="1.5" class="purecounter"><%=gameResult.homeTeamScore%></span></h1>
            </div>
            <div class="col-xl-3 col-sm-3 text-center align-self-center">
              <h4><%=gameResult.gameName%></h4>
              <h5><%=gameResult.gameDate.toISOString().slice(0,10)%></h5>
            </div>
            <div class="col-xl-3 col-sm-4 text-end">
              <p>Away</p>
              <h2 style="color: blue"><%=gameResult.awayTeamName%></h2>
              <h1 style="color: blue"><span data-purecounter-start="999" data-purecounter-end="<%=gameResult.awayTeamScore%>" data-purecounter-duration="1.5" class="purecounter"><%=gameResult.awayTeamScore%></span></h1>
            </div>
          </div>
        </div>
        <div class="text-center my-5" data-aos="fade-in" data-aos-delay="200">
          <a class="btn btn-secondary mt-4" href="/game/list">뒤로가기</a>
        </div>
      </section>
    </main>

    <%- include('../../common/normal-js') %>
  </body>
</html>
