<!DOCTYPE html>
<html>
  <head>
    <%- include('../../common/normal-html-head') %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <%- include('../../components/inner-page-header') %>

    <main id="main">
      <%- include('../../components/breadcrumbs', { pageTitle: "시합정보 입력", parents: [{ title: 'Home', url: '/' }, { title: '시합 관리', url: '/game' }] }) %>

      <section class="services">
        <div class="row justify-content-center">
          <div class="col-xxl-5 col-lg-5 col-md-12 col-sm-12">
            <div class="container d-flex align-items-center" data-aos="zoom-in">
              <div class="card border-white shadow mx-auto my-5" style="width: 90%">
                <div class="card-header bg-dark text-white fw-bold">시합 정보 등록</div>
                <div class="card-body">
                  <form method="post" action="/game/register">
                    <div class="form-group">
                      <label for="" class="fw-bold form-label">시합명</label>
                      <input type="text" class="form-control" name="gameName" placeholder="ex) 2022 서울 추계 결승 외대전" />
                      <small class="form-text text-muted">[년도] [지역명(생략가능)] [대회명] [상대팀명] 순으로 작성합니다.</small>
                    </div>
                    <div class="form-group mt-3">
                      <label for="" class="fw-bold form-label">시합 날짜</label>
                      <input type="date" id="day" class="form-control" name="gameDate" />
                      <small id="result_help" class="form-text text-muted">캘린더에서 운동날짜를 선택합니다</small>
                    </div>
                    <div class="form-group mt-3">
                      <label for="" class="fw-bold form-label">홈팀 이름</label>
                      <input type="text" class="form-control" name="homeTeamName" placeholder="ex) Royals" />
                      <small class="form-text text-muted">팀 이름은 영문으로 학교빼고 작성합니다.</small>
                    </div>
                    <div class="form-group mt-3">
                      <label for="" class="fw-bold form-label">어웨이팀 이름</label>
                      <input type="text" class="form-control" name="awayTeamName" placeholder="ex) Turtle Fighters" />
                      <small class="form-text text-muted">팀 이름은 영문으로 학교빼고 작성합니다.</small>
                    </div>
                    <div class="mt-4">
                      <button type="submit" class="btn btn-success me-1">등록하기</button>
                      <a href="/game" class="btn btn-primary">뒤로가기</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-5 col-lg-5 col-md-12 col-sm-12">
            <div class="container d-flex align-items-center" data-aos="zoom-in">
              <div class="card border-white shadow mx-auto my-5" style="width: 90%">
                <div class="card-header bg-dark text-white fw-bold">시합 결과 등록</div>
                <div class="card-body">
                  <form id="update-form">
                    <div class="form-group">
                      <label for="result" class="fw-bold form-label">시합명</label>
                      <select id="gameInfo" name="gameName" class="form-select">
                        <% gameInfos.forEach((gameInfo) => {%>
                        <option value="<%=[gameInfo.gameName, gameInfo.gameDate.toISOString().slice(0,10)].join()%>"><%=gameInfo.gameName%></option>
                        <% }) %>
                      </select>
                      <small id="result_help" class="form-text text-muted">드롭다운 목록에서 시합명을 선택합니다.</small>
                    </div>
                    <div class="form-group mt-3">
                      <label for="attendance_date" class="fw-bold form-label">홈팀 점수</label>
                      <input id="homeTeamScore" type="number" class="form-control" name="homeTeamScore" placeholder="ex) 15" />
                    </div>
                    <div class="form-group mt-3">
                      <label for="attendance_date" class="fw-bold form-label">어웨이팀 점수</label>
                      <input id="awayTeamScore" type="number" class="form-control" name="awayTeamScore" placeholder="ex) 28" />
                    </div>
                    <div class="mt-4">
                      <button type="submit" class="btn btn-success me-1">등록하기</button>
                      <a href="/game" class="btn btn-primary">뒤로가기</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('../../common/normal-js') %>
    <script>
      document.getElementById('update-form').addEventListener("submit", async function(e) {
        e.preventDefault()
        const [gameName, gameDate] = document.getElementById('gameInfo').value.split(',')
        const homeTeamScore = parseInt(document.getElementById('homeTeamScore').value)
        const awayTeamScore = parseInt(document.getElementById('awayTeamScore').value)
        const data = {
          gameName,
          gameDate,
          homeTeamScore,
          awayTeamScore,
        }
        
        const result = await axios({
          method: 'put',
          url: location.href,
          data,
          
        }).then((result) => {
          return { 
            data: result.data,
            status: result.status,
          }
        }).catch((error) => {
          alert('시합 정보를 업데이트하지 못했습니다.');
        })
        
        if(result.data.success) {
          alert('시합 정보 등록에 성공했습니다.\nid:' + result.data.id)
        } else {
          alert('시합 정보를 업데이트하지 못했습니다.');
        }
      })
    </script>
  </body>
</html>
