<!DOCTYPE html>
<html>
  <head>
    <%- include('../../../common/admin-html-head') %>
  </head>
  <body>
    <%- include('../../../components/admin-page-header', { userInfo } ) %> <%- include('../../../components/admin-page-sidebar', { select: 'attendance', select_child: 'attendance/delete' } ) %>

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>출석정보 삭제</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">관리자 페이지</a></li>
            <li class="breadcrumb-item active">출석정보 삭제</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section">
      </section>
    </main>
    <!-- End #main -->

    <%- include('../../../common/admin-footer') %>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <%- include('../../../common/admin-js') %>

    <script>
    </script>
  </body>
</html>
