<!DOCTYPE html>
<html>
  <head>
    <%- include('../../../common/admin-html-head') %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <%- include('../../../components/admin-page-header', { userInfo } ) %> <%- include('../../../components/admin-page-sidebar', { select: 'game', select_child: 'game/setting-review' } ) %>

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>시합후기 마감설정</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">관리자 페이지</a></li>
            <li class="breadcrumb-item active">시합후기 마감설정</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section">
        <div class="row align-items-top">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">시합후기 마감날짜 정보 입력</h5>
                <form method="post" action="/admin/game/setting-review" class="row g-3">
                  <div class="col-12">
                    <label for="" class="form-label fw-bold">시합 선택</label>
                    <select name="gameId" id="gameId" class="form-select">
                      <% gameList.forEach( (gameInfo) => { %>
                      <option value="<%=gameInfo.id%>"><%=gameInfo.gameName%></option>
                      <% }) %>
                    </select>
                  </div>
                  <div class="col-12">
                    <label for="" class="form-label fw-bold">작성 대상</label>
                    <select name="everyone" id="everyone" class="form-select">
                      <option value=''>시합에 온 사람들만</option>
                      <option value='true'>모두</option>
                    </select>
                  </div>
                  <div class="col-12">
                    <label for="" class="form-label fw-bold">마감날짜</label>
                    <input type="date" class="form-control" name="deadLine" required/>
                  </div>
                  <div class="col-12">
                    <label for="" class="form-label fw-bold">지각체크날짜</label>
                    <input type="date" class="form-control" name="lateLine" required/>
                  </div>
                  <div class="text-center mt-5">
                    <button type="submit" class="btn btn-outline-success">등록하기</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <%- include('../../../common/admin-footer') %>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <%- include('../../../common/admin-js') %>
  </body>
</html>
