<!DOCTYPE html>
<html>
  <head>
    <%- include('../../common/normal-html-head') %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <%- include('../../components/inner-page-header') %>
    
    <main id="main">
      <%- include('../../components/breadcrumbs', { pageTitle: "출석 체크", parents: [{ title: 'Home', url: '/' }, { title: '출석관리', url: '/attendance' }, { title: '출석명단 날짜 선택', url: '/attendance/list' }] }) %>
      
      <section class="inner-page my-3">
        <div class="container align-content-center text-center" data-aos="fade-in">
          <header class="section-header text-center pt-5">
            <h3><%=date.toISOString().slice(0, 10)%> 출석 체크</h3>
            <p>해당 날짜의 출석 체크를 진행합니다</p>
          </header>
          <table class="table text-center">
            <tr class="table-dark">
              <th>#</th>
              <th>이름</th>
              <th>입학년도</th>
              <th>출석조사응답</th>
              <th>운동위치</th>
              <th>체크여부</th>
            </tr>
            <% attendances.forEach((attendance, index)=>{ %>
              <tr id="<%=[attendance.name, attendance.studentNo, attendance.location].join()%>">
                <td><%=index + 1%></td>
                <td><%=attendance.name%></td>
                <td><%=attendance.studentNo%></td>
                <td><span class='badge <%=(!attendance.survey) ? "bg-danger" : (attendance.late) ? "bg-warning": "bg-success"%>'><%=(!attendance.survey) ? "불참" : (attendance.rate) ? "늦참": "참석"%></span></td>
                <td><%=(attendance.location === "integrated") ? "통합" : (attendance.location === "seoul") ? "명륜" : "율전"%> </td>
                <% if (attendance.checked) { %>
                  <td><button class="btn btn-outline-success" disabled>완료</button></td>
                <% } %>
                <% if (!attendance.checked) { %>
                  <td><button class="btn btn-outline-danger" onclick="test('<%=[attendance.name, attendance.studentNo, attendance.location].join()%>', '<%=date.toISOString().slice(0, 10)%>')">체크</button></td>
                <% } %>
              </tr>
            <% }) %>
          </table>
          <a href="/attendance/list" class="btn btn-secondary mt-2 mb-5">뒤로가기</a>
        </div>
      </section>
    </main>
    
    <%- include('../../common/normal-js') %>
    <script>
      async function test(id, date) {
        const tableRow = document.getElementById(id)
        
        const result = await axios({
          method: 'put',
          url: location.href.slice(0, location.href.indexOf('?')),
          data: {
            date: new Date(date),
            name: id.split(',')[0],
            studentNo: parseInt(id.split(',')[1]),
            location: id.split(',')[2],
          }
        }).then((result) => {
          return { 
            data: result.data,
            status: result.status,
          }
        }).catch((error) => {
          alert('출석 체크에 실패했습니다.');
        })
        
        if (result.data.success) {
          alert('출석 체크에 성공했습니다.\n' + '출석번호: ' + result.data.id)
          tableRow.lastElementChild.firstElementChild.setAttribute('disabled', 'disabled');
          tableRow.lastElementChild.firstElementChild.setAttribute('class', 'btn btn-outline-success');
          tableRow.lastElementChild.firstElementChild.textContent = '완료';
        } else {
          alert('출석 체크에 실패했습니다.');
        }
      }
    </script>
  </body>
</html>