<!DOCTYPE html>
<html>
  <head>
    <%- include('../../common/normal-html-head') %>
  </head>
  <body>
    <%- include('../../components/inner-page-header') %>

    <main id="main">
      <%- include('../../components/breadcrumbs', { pageTitle: "출석명단 조회", parents: [{ title: 'Home', url: '/' }, { title: '출석관리', url: '/attendance' }] }) %>

      <section class="services pt-4">
        <div class="container d-flex align-items-center" data-aos="zoom-in">
          <div class="card border-white shadow mx-auto my-5" style="width: 23rem">
            <div class="card-header bg-dark text-white fw-bold">날짜 선택</div>
            <div class="card-body">
              <form method="get" action="/attendance/list/detail">
                <div class="form-group mt-1">
                  <label for="day" class="fw-bold">출석 명단 날짜 선택</label>
                  <select id="day" class="form-select mt-sm-1" name="date" aria-describedby="attendance_date_help">
                    <% dates.forEach((date)=>{ %>
                    <option value="<%=date.day.toISOString().slice(0, 10)%>"><%=date.day.toISOString().slice(0, 10)%></option>
                    <% }) %>
                  </select>
                  <small id="attendance_date_help" class="form-text text-muted">드롭다운 목록에서 출석 날짜를 선택합니다.</small>
                </div>
                <div class="mt-4">
                  <button typ="submit" class="btn btn-success me-1">조회하기</button>
                  <a href="/attendance" class="btn btn-primary">뒤로가기</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
    
    <%- include('../../common/normal-js') %>
  </body>
</html>
