<!DOCTYPE html>
<html>
  <head>
    <%- include('../../common/normal-html-head') %>
  </head>
  <body>
    <%- include('../../components/inner-page-header') %>

    <main id="main">
      <%- include('../../components/breadcrumbs', { pageTitle: "출석명단 조회", parents: [{ title: 'Home', url: '/' }, { title: '출석관리', url: '/attendance' }] }) %>

      <section class="services">
        <div class="container d-flex pb-5" data-aos="zoom-in">
          <div class="row mx-auto justify-content-center">
            <div class="col-9">
              <div class="card border-white shadow px-0 mx-auto mt-5">
                <div class="card-header bg-dark text-white fw-bold">명단 조회</div>
                <div class="card-body">
                  <form method="get" action="/attendance/list/detail">
                    <div class="form-group mt-1">
                      <label for="day" class="fw-bold">출석 명단 날짜 선택</label>
                      <select id="day" class="form-select mt-sm-1" name="date" aria-describedby="attendance_date_help">
                        <% dates.forEach((date)=>{ %>
                        <option value="<%=date.date.toISOString().slice(0, 10)%>"><%=date.date.toISOString().slice(0, 10)%></option>
                        <% }) %>
                      </select>
                      <small id="attendance_date_help" class="form-text text-muted">드롭다운 목록에서 출석 날짜를 선택합니다.</small>
                    </div>
                    <div class="mt-4">
                      <button typ="submit" class="btn btn-success me-1">조회하기</button>
                      <a href="/attendance" class="btn btn-primary">뒤로가기</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-9">
              <div class="card border-white shadow px-0 mx-auto mt-5">
                <div class="card-header bg-dark text-white fw-bold">출석 체크</div>
                <div class="card-body">
                  <form method="get" action="/attendance/list/check">
                    <div class="form-group mt-1">
                      <label for="day" class="fw-bold">출석 체크 날짜 선택</label>
                      <select id="day" class="form-select mt-sm-1" name="date" aria-describedby="attendance_date_help">
                        <% dates.forEach((date)=>{ %>
                        <option value="<%=date.date.toISOString().slice(0, 10)%>"><%=date.date.toISOString().slice(0, 10)%></option>
                        <% }) %>
                      </select>
                      <small id="attendance_date_help" class="form-text text-muted">드롭다운 목록에서 출석 날짜를 선택합니다.</small>
                    </div>
                    <div class="mt-4">
                      <button typ="submit" class="btn btn-success me-1">출석체크하기</button>
                      <a href="/attendance" class="btn btn-primary">뒤로가기</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    
    <%- include('../../common/normal-js') %>
  </body>
</html>
