<!DOCTYPE html>
<html>
  <head>
    <%- include('../../common/normal-html-head') %>
  </head>
  <body>
    <%- include('../../components/inner-page-header') %>
    
    <main id="main">
      <%- include('../../components/breadcrumbs', { pageTitle: "출석 명단 확인", parents: [{ title: 'Home', url: '/' }, { title: '출석관리', url: '/attendance' }, { title: '출석명단 날짜 선택', url: '/attendance/list' }] }) %>
      
      <section id="portfolio" class="my-3">
        <div class="container align-content-center text-center" data-aos="fade-in">
          <header class="section-header text-center pt-3">
            <h3><%=date.toISOString().slice(0, 10)%> 출석 명단</h3>
            <p class="pb-2">해당 날짜의 출석 명단을 확인하세요</p>
          </header>
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li id="All" class="filter-active" onclick="filter('All')">All</li>
                <li id="STAFF" onclick="filter('STAFF')">STAFF</li>
                <li id="QB" onclick="filter('QB')">QB</li>
                <li id="OL" onclick="filter('OL')">OL</li>
                <li id="WR" onclick="filter('WR')">WR</li>
                <li id="RB" onclick="filter('RB')">RB</li>
                <li id="DL" onclick="filter('DL')">DL</li>
                <li id="LB" onclick="filter('LB')">LB</li>
                <li id="DB" onclick="filter('DB')">DB</li>
              </ul>
            </div>
          </div>
          <table id="attendanceTable" class="table text-center">
            <tr class="table-dark">
              <th>#</th>
              <th>이름</th>
              <th>입학년도</th>
              <th>출석조사응답</th>
              <th>운동위치</th>
              <th>체크여부</th>
              <th style="display: none;"></th>
            </tr>
            <% attendances.forEach((attendance, index)=>{ %>
              <tr>
                <td><%=index + 1%></td>
                <td><%=attendance.name%></td>
                <td><%=attendance.studentNo%></td>
                <td><span class='badge <%=(!attendance.survey) ? "bg-danger" : (attendance.late) ? "bg-warning": "bg-success"%>'><%=(!attendance.survey) ? "불참" : (attendance.late) ? "늦참": "참석"%></span></td>
                <td><%=(attendance.location === "integrated") ? "통합" : (attendance.location === "seoul") ? "명륜" : "율전"%> </td>
                <td><%=(attendance.checked) ? "체크완료" : "체크전"%></td>
                <td style="display: none;"><%=[attendance.offPosition, attendance.defPosition, 'All'].join()%></td>
              </tr>
            <% }) %>
          </table>
          <a href="/attendance/list" class="btn btn-secondary mt-2 mb-5">뒤로가기</a>
        </div>
      </section>
    </main>
    
    <%- include('../../common/normal-js') %>
    <script>
      function filter(target) {
        const filters = document.getElementById('portfolio-flters')
        const positions = ['All', 'STAFF', 'QB', 'WR', 'RB', 'OL', 'DL', 'LB', 'DB'].filter((position) => position !== target)
        positions.forEach((position) => document.getElementById(position).setAttribute('class', ''))
        const targetFilter = document.getElementById(target)
        targetFilter.setAttribute('class', 'filter-active')
        
        const table = document.getElementById('attendanceTable')
        
        let idx = 1;
        
        for(let i = 1; i < table.rows.length; i++) {
          const check = table.rows[i].cells[table.rows[i].childElementCount - 1].innerHTML.split(',').filter((position) => position === target);
          console.log(check);
          if (check.length > 0) {
            table.rows[i].style.display='';
            table.rows[i].cells[0].innerHTML = idx;
            idx++;
          } else {
            table.rows[i].style.display='none';
          }
        }
      }
    </script>
  </body>
</html>