<!DOCTYPE html>
<html>
  <head>
    <%- include('../../common/normal-html-head') %>
  </head>
  <body>
    <%- include('../../components/inner-page-header') %>

    <main id="main">
      <%- include('../../components/breadcrumbs', { pageTitle: "출석 조사 입력", parents: [{ title: 'Home', url: '/' }, { title: '출석관리', url: '/attendance' }] }) %>

      <section class="services pb-5">
        <div class="container d-flex align-items-center" data-aos="zoom-in">
          <div class="card border-white shadow mx-auto mt-5" style="width: 23rem">
            <div class="card-header bg-dark text-white fw-bold">출석 조사 등록(구글폼 연동)</div>
            <div class="card-body">
              <form method="get" action="/attendance/register/many">
                <div class="form-group">
                  <label for="attendance_type" class="fw-bold form-label">불러올 출석조사 파일 선택</label>
                  <select id="sheetID" class="form-select" name="id" aria-describedby="attendance_type_help">
                    <% for(let surveyResult of attendanceSurveyResultFiles) { %>
                    <option value="<%=surveyResult.id%>"><%=surveyResult.sheetName + " - " + surveyResult.createdAt.toLocaleString()%></option>
                    <% } %>
                  </select>
                  <small id="attendance_type_help" class="form-text text-muted">드롭다운 목록에서 불러올 엑셀파일을 선택합니다.</small>
                </div>
                <div class="mt-4">
                  <button type="submit" class="btn btn-success me-1">제출하기</button>
                  <a href="/attendance" class="btn btn-primary">뒤로가기</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <section class="services">
        <div class="container d-flex align-items-center" data-aos="zoom-in">
          <div class="card border-white shadow mx-auto my-5" style="width: 23rem">
            <div class="card-header bg-dark text-white fw-bold">출석 조사 등록(개별)</div>
            <div class="card-body">
              <form method="post" action="/attendance/register">
                <div class="form-group">
                  <label for="result" class="fw-bold form-label">이름</label>
                  <input id="name" class="form-control" name="name" rows="5" placeholder="ex) 고병산" wrap="virtual" aria-describedby="result_help" />
                  <small id="result_help" class="form-text text-muted">이름은 공백없이 한글로 입력합니다.</small>
                </div>
                <div class="form-group mt-3">
                  <label for="studentNo" class="fw-bold form-label">입학년도</label>
                  <input id="studentNo" class="form-control" name="studentNo" rows="5" placeholder="ex) 2019 " wrap="virtual" aria-describedby="result_help" />
                  <small id="result_help" class="form-text text-muted">입학년도는 4자리의 정수로 입력합니다.</small>
                </div>
                <div class="form-group mt-3">
                  <label for="attendance_date" class="fw-bold form-label">운동 날짜</label>
                  <input type="date" id="date" class="form-control" name="date" value="" aria-describedby="student_no_help" />
                  <small id="result_help" class="form-text text-muted">캘린더에서 운동날짜를 선택합니다</small>
                </div>
                <div class="form-group mt-3">
                  <label for="attendance_type" class="fw-bold form-label">응답 결과</label>
                  <select id="sheetID" class="form-select" name="survey" aria-describedby="attendance_type_help">
                    <option value="0">참석</option>
                    <option value="1">늦참</option>
                    <option value="2">불참</option>
                  </select>
                  <small id="attendance_type_help" class="form-text text-muted">드롭다운 목록에서 응답결과를 선택합니다.</small>
                </div>
                <div class="form-group mt-3">
                  <label for="attendance_type" class="fw-bold form-label">캠퍼스</label>
                  <select id="sheetID" class="form-select" name="location" aria-describedby="attendance_type_help">
                    <option value="seoul">명륜</option>
                    <option value="suwon">율전</option>
                    <option value="integrated">통합</option>
                  </select>
                  <small id="attendance_type_help" class="form-text text-muted">드롭다운 목록에서 캠퍼스를 선택합니다.</small>
                </div>
                <div class="mt-4">
                  <button type="submit" class="btn btn-success me-1">제출하기</button>
                  <a href="/attendance" class="btn btn-primary">뒤로가기</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('../../common/normal-js') %>
  </body>
</html>
