<!DOCTYPE html>
<html>
  <head>
    <%- include('../../../common/admin-html-head') %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <%- include('../../../components/admin-page-header', { userInfo } ) %> <%- include('../../../components/admin-page-sidebar', { select: 'auth', select_child: 'auth/account-role' } ) %>

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>계정 권한 변경</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">관리자 페이지</a></li>
            <li class="breadcrumb-item active">계정 권한 변경</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section">
        <div class="row align-items-top">
          <!-- People Table -->
          <div class="col-lg-12">
            <div class="card recent-sales overflow-auto">
              <div class="card-body">
                <h5 class="card-title">밴드 계정 목록 테이블</h5>
                <table class="table table-borderless datatable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">밴드 닉네임</th>
                      <th scope="col">권한</th>
                      <th scope="col">변경할 권한</th>
                      <th scope="col">변경할 직책</th>
                      <th scope="col">변경하기</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% bandUserList.forEach((bandUser, index) => { %>
                    <tr>
                      <th scope="row"><a href="#"><%=index + 1%></a></th>
                      <td><%=bandUser.userNickname%></td>
                      <td><span class='badge <%=(bandUser.role === 'normal') ? "bg-warning" : (bandUser.role === 'newbie') ? "bg-success": "bg-black"%>'><%=bandUser.role%></span></td>
                      <td>
                        <select id=<%=bandUser.userKey%> class="form-select w-75" >
                          <option value="newbie" <%=bandUser.role === 'newbie' ? 'selected' : ''%>>newbie</option>
                          <option value="normal" <%=bandUser.role === 'normal' ? 'selected' : ''%>>normal</option>
                        </select>
                      </td>
                      <td>
                        <select id=<%=bandUser.userKey + '-teamRole'%> class="form-select w-75" >
                          <option value="HeadCoach" <%=bandUser.teamRole === 'HeadCoach' ? 'selected' : ''%>>감독</option>
                          <option value="Coach" <%=bandUser.teamRole === 'Coach' ? 'selected' : ''%>>코치</option>
                          <option value="Staff" <%=bandUser.teamRole === 'Staff' ? 'selected' : ''%>>스태프</option>
                          <option value="Athlete" <%=bandUser.teamRole === 'Athlete' ? 'selected' : ''%>>선수</option>
                        </select>
                      </td>
                      <td><button class="btn btn-warning" onclick="updateBandUserRole('<%=[bandUser.userKey]%>')">변경하기</button></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- End People Table -->
        </div>
      </section>
    </main>
    <!-- End #main -->

    <%- include('../../../common/admin-footer') %>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <%- include('../../../common/admin-js') %>

    <script>
      async function updateBandUserRole(userKey) {
        const targetRole = document.getElementById(userKey).value
        const targetTeamRole = document.getElementById(userKey+'-teamRole').value
        
        const result = await axios({
          method: 'put',
          data: {
            userKey,
            role: targetRole,
            teamRole: targetTeamRole,
          },
          url: location.href
        }).then((result) => {
          return result.data;
        }).catch((error) => {
          alert('업데이트에 실패했습니다.')
          location.reload();
        })
        
        if(result.success) {
          alert(`업데이트에 성공했습니다.\n닉네임:${result.userNickname}`);
        } else {
          alert(`업데이트에 실패했습니다.`);
        }
        location.reload();
      }
    </script>
  </body>
</html>
